/码农的外脑/.obsidian/

#*.pdf
*.java
*.txt
*.xml
*.yml
*.yaml
*.ico
*.gif
*.mp4
*.sql
*.bak
*.gitignore
*.properties
*.factories
*.json
*.svg
*.css
*.html
*.otf
*.eot
*.ttf
*.woff
*.woff2
*.js
*.cmd
/码农的外脑/小论文/小论文提交_20240307.pdf
